---
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export const prerender = false;

const { slug } = Astro.params;

const post = await getEntry("posts", slug as string);

// If no posts found, redirect to 404 page.
if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <H1 text={post.data.title} />
    {
      post.data.image && (
        <Image
          src={post.data.image}
          alt={post.data.title}
          width={1024}
          height={683}
          class="rounded-2xl shadow-xl mb-4 w-full object-cover"
        />
      )
    }
    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </Main>
</Layout>
